@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: rgb(163, 230, 230);
  }

.card{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-content: center;
    text-align: center;
    width: 30vh;
    height: 30%;
    border: transparent;
    border-radius: 25px;
    background-color: white;
}

.covercontainer{
    width: 100%;
    height: 5vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-image: url(../img/Cover_Image.jpg);
    margin-bottom: 5vh;
    background-size: cover;
}
.profileimgcontainer{
    margin-top: 3vh;
    z-index: 1;
}
.profileimg{
    width: 5vh;
    
}

.profile-name{
    margin-bottom: 1rem;
}
.profile-name label{
    color: rgba(128, 128, 128, 0.795);
    font-size: 0.7rem;
    font-weight:800;
}
.profile-desc{
    text-align: center;
    padding: 1rem;
}
.profile-desc label{
    color: rgba(128, 128, 128, 0.795);
    font-size: 1rem;
    font-weight:500;
}
.metrics{
    display: flex;
    place-content: center center;
    text-align: center;
    flex-direction: column;
}

.post{
    margin-bottom: 1rem;
}
.post label{
    font-size: small;
    color:rgba(128, 128, 128, 0.795);
}

.follow{
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.follow-metrics{
    display: flex;
    place-content: center;
    text-align: center;
    gap: 3rem;
    margin-left: 1px solid black;

}

.follow-labels{
    display: flex;
    place-content: center;
    text-align: center;
    font-size: small;
    color:rgba(128, 128, 128, 0.795);
    gap: 2rem;
}
.profile-actions li{
        list-style-type: none;
}


.profile-actions ul{
    display: flex;
    gap:10px;
    margin-left: 5px;
    font-weight: 600;
}


.go-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    color: blue;
    margin: 5px;
}

.go-profile a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}

nav{
    width: 100%;
    background-color:white;
    margin-bottom: 5px;
}
.nav-container{
    display: flex;
    width: 100%;
}
.nav-title{
    width: 33%;
    padding: 1vh;
    place-content: center;
}
.tool-nav{
    display:flex;
    width: 33%;
    place-content: end;
    margin: 3px;
}
.tool-nav-item{
    display: flex;
    background-color:gray;
    border-radius: 50px;
    width: 6vh;
    padding: 1vh;
    margin: 3px;
    text-align: center;
    place-content: center;
    font-size:larger;
    border: transparent;
}

.nav-searcher{
    width: 33%;
    padding: 1vh;
}
.searcher{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px #727171 solid;
    text-align: center;
    font-size: larger;
}

.msg-buttom-container{
    display: flex;
    position: fixed;
    width: 100%;
    place-content: end;

}

.msg-buttom{
    margin-right: 2rem;
    border-radius: 25px;
    font-size: 3rem;
    border: 1px #727171 solid;
}

main{
    display: flex;
    width: 100%;
    gap: 10rem;
}

.land{
    display: flex;
    width: 50%;
    place-content: center;
}
.do-post{
    display: flex;
    flex-direction: column;
    border: transparent;
    border-radius: 25px;
    margin-top: 10px;
    width: 65%;

}

.do-post-head{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 10px;

}

.do-post-head-publish{
    display: flex;
}

.do-post-head-publish img{
    width: 5vh;
    border-radius: 25px;
    margin: 1rem;   
}
.do-post-head-publish input{
    border: transparent;
    outline:none;
}
.do-post-head-items{
    display: flex;
    width: 100%;
    place-content: center;
    gap: 1rem;

}

.do-post-head-item{
    display: flex;
    text-align: center;
    background-color: gray;
    gap:1rem;
    border-radius: 20px;
    padding: 3px;
    font-size: small;
}

.do-post-body{
    width: 100%;
    margin-top: 20px;
}

.do-post-card{
    background-color:white;
    border-radius: 20px;
    padding: 2rem;
}

.do-post-card-head{
    display: flex;
    gap: 1rem;
}

.do-post-card-head img{
   width: 3vw;
   border-radius: 20px;
}

.do-post-card-body{
    margin-top: 10px;
}

.do-post-card-body img{
    width: 100%;
}
.do-post-card-footer{

    display: flex;
    gap: 1rem;
    margin-top: 10px;
    font-weight: 600;
}